html,
body {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.form-box {
	width: 400px;
	height: 200px;
	padding: 0px;

	border: 4px solid rgba(25, 23, 23, 0.188);
	border-radius: 25px;

	box-shadow: 0px 0px 30px 30px rgba(0, 0, 0, 0.2);

	flex: 0 0 auto;

	display: flex;
	flex-direction: column;
}

.form-box .form-header {
	flex: 0 0 50px;

	display: flex;
	justify-content: center;
}

button.login-form-button,
button.signup-form-button {
	border: none;
	background: none;

	font-weight: bold;
	font-size: x-large;

	flex: 1 0 auto;
}

button.login-form-button {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-top-left-radius: 20px;
}

button.signup-form-button {
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-top-right-radius: 20px;
}

button.login-form-button:hover,
button.signup-form-button:hover {
	background-color: lightblue;
	cursor: pointer;
}

.form-box .form-body {
	flex: 1;

	display: flex;
	justify-content: center;
	align-items: center;
}

.form-body label {
	display: inline-block;
	width: 70px;
}

#login,
#signup {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#login {
	gap: 16px;
}

#signup {
	gap: 12px;
}
